body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.LoginRegisterForm {
  height: 250px;
  width: 250px;
  margin-left: 40%;
}

.postForm {
	height: 200px;
	width: 200px;
}

.descrBox {
	height: 200px;
	width: 200px;
}

.postList {
  height: 25%;
  width: 35%;
}

.commentList {
  height: 180px;
  width: 725px;
}

.commentForm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 550px;
}

.commentFormButton {
  position: fixed;
  bottom: 0;
  right: 0;
}

.commentModal {
  height: 400px;
}









